<h1>Login</h1>

<style>
.signup-form{
  width:450px;
  float:left;
  margin-bottom:4em;
  
}
.signup-helper{
  float:right;
  margin-left:1em;
  width:280px;
}
.signup-helper h2{
  font-size:1.2em;
}
.signup-helper p{
  margin-bottom:2em;
}
.login-extra-accounts{
  clear:both;
}
</style>

<div class="signup-helper">
  <h2>Need an account?</h2>
  <p><%= link_to "Signup", new_user_path %></p>

  <h2>Already have an Account?</h2>
  <p><%= link_to("Reset your password", new_password_reset_path) %></p>
</div>

<div class="signup-form clearfix">
<%= semantic_form_left_column_size(5) %>

<% semantic_form_for(:session, :url => session_path) do |f| -%>
  <%= f.text_field 'email', :label => "Email" %>
  <%= f.password_field 'password', :label => "Password" %>
  <%= f.submit "Log In" %>
<% end -%>

</div>

<div class="login-extra-accounts">
  <%= fb_login_button 'window.location.reload()' %>
</div>

