<h1>Editing user <%=h @user.name %></h1>

<%= error_messages_for :user %>

<%= semantic_form_left_column_size(5) %>

<% semantic_form_for(:user, :url => users_path, :html => { :method => :put }) do |f| -%>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit "Update" %>
<% end -%>

<%= link_to 'Show', user_path(@user) %> |
<%= link_to 'Back', users_path %>