<div class="loginlinks">
<% if super_logged_in? %>
  <% if logged_in? %>
	  <%= link_to "Logout", logout_path %>
  <% elsif facebook_logged_in? %>
    <%= current_user_name %> | <%= fb_logout_link "Logout", "/connect/logout" %>
  <% end %>
<% else %>
  <%= link_to "Signup", signup_path %> |
	<%= link_to "Login", login_path %>
<% end %>

</div>

<a href="/">Main</a>

<% if flash.any? %>
  <div id="flash"><%= flash[:notice] %></div><% flash.clear %>
<% end %>
