<%= render :partial => "layouts/head" %>

<body>
  <div id="doc">
    <div id="hd">
      <%= render :partial => "layouts/header" %>
    </div>
  
    <div class="yui-gc"><!-- 2 columns, 66%/33% -->
      <div class="yui-u first" id="main">
    
        <%= yield %>

      </div> 
      <div class="yui-u" id="sidebar">
        
        <%= yield :sidebar %>

      </div><!-- yui-u -->
    </div><!-- yui-gc -->
    <div id="ft">
      <%= render :partial => "layouts/footer" %>
    </div>
  </div><!-- doc2 -->
</body>
</html>